header {
    background-color:lightcyan;
    height: 50%;
    width: 100%;
    background-position: center;
    background-size: 130px;
}
.image{
    background-position: right;
    background-repeat: repeat;

}
h1 {
    text-align: center;
    text-decoration-line: underline;
    text-orientation:sideways-right;
}

footer{
    text-align: center;
    color: blue;
}
ul{
    font-size: 20px;
}