html{
    background-color: #e5e5e5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    line-height: 15px;
}
body{
    width: 1024px;
    margin: 0 auto;
}

#datos{
    height: 284px;
    background: #3C2313;
    clear: both;
}
#info{
    padding: 10px 50px;
}
.logo-footer{
    float: right !important;
    margin-top: 120px;
}
.tit{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.desc{
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #8A8787;
}
#info img{
    vertical-align: text-top;
    float: left;
    margin-right: 20px;
}
#info div{
    margin: 20px;
    display: flow-root;
}
#copy{
    background: #222;
    color: #fff;
    text-align:center;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
}
#banner{
    background-color: white;
    text-align: center;
    padding-top: 15px;
}
h1, h2{
    color: #3C2313;
    padding: 10px;
}
#opc-banner{
    padding: 10px;
    width: 75px;
    height: 18px;
    left: 489px;
    top: 653px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #666666;
}

#producto{
    text-align: center;
    position: relative;
    float: left;
    width: 311px;
    height: 350px;

    padding: 15.1px;
    background: #FBFAF6;
}

#descripcion{

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #3C2313;

}
#precio{

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #F0A83E;
}

input{
    margin: 5px;
    width: 340px;
    height: 40px;
    left: calc(50% - 340px/2 + 1px);
    top: calc(50% - 40px/2 + 275.5px);

    background: #3C2313;
    border-radius: 15px;
}

::placeholder {
    color: white;
    font-size: 9px;
    padding-left: 15px;
  }

  button{
    margin: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;

  }
  .reset{
    width: 110px;
    height: 34px;
    left: calc(50% - 110px/2 - 52px);
    top: calc(50% - 34px/2 + 453.5px);
    
    background: #8A8787;
    border-radius: 15px;
  }
  
  .submit{
    width: 110px;
    height: 34px;
    left: calc(50% - 110px/2 + 64px);
    top: calc(50% - 34px/2 + 453.5px);
    
    background: #F0A83E;
    border-radius: 15px;
    border-color: #F0A83E;
  }

  #suscribirse{
      background-color: #F0A83E;
      padding: 20px;
  }

  #msg{
    padding: 5px;
    left: calc(50% - 288px/2 - 295px);
    top: calc(50% - 23px/2 + 577px);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
  }

  input.email{
    margin-left: 250px;
    width: 271px;
    height: 40px;
    left: calc(50% - 271px/2 + 254.5px);
    top: calc(50% - 40px/2 + 575.5px);
    
    background: #FFFFFF;
    border-radius: 15px;
  }
  .email::placeholder{
    color: rgb(0, 0, 0);
    font-size: 9px;
    padding-left: 15px;
  }
  button.suscribirme{
    width: 70px;
    height: 34px;
    left: calc(50% - 70px/2 + 430px);
    top: calc(50% - 34px/2 + 575.5px);

    background: #3C2313;
    border-radius: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
    /* identical to box height */
    color: #FFFFFF;
  }