
header {
    background-image: url('fondo.jpg');
    height: 400px;
        text-align: center;
        background-position: center center;
        background-size: cover;
    
}
.sobremi{
    color: #eccfb6;
    font-size: 30px;  
}
h1{
    font-family: 'Teko', sans-serif;
    padding: 10px;
    color: #eccfb6;
    font-size: 35px;
    text-align: center;
}

h2, h3{ 
    width: 1300px;
    text-align: center;
    padding-left: 6cm;
    height: 1cm;
    color: #eccfb6;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
}
h1, h2, h3{
    background-color: #5283be;
}

.años{font-weight: bold;}
.fecha{font-weight: bold;}
.alinea{padding-left: 4%;}

li, span{
    font-size: 20px;
    color: #5283be;
}
a{
    color: #eccfb6;
}

footer{
    color: #eccfb6;
    background-color: #5283be;
}

i{
    color: #eccfb6;
}

.CurriculumVitae{
    
}